In [6]:
import pandas as pd


df = pd.read_csv('paired_samples_data.csv',
                index_col=0)

df.head()

   ids test      score
1    1  Pre  29.797430
2    2  Pre  42.577615
3    3  Pre  45.047166
4    4  Pre  35.270593
5    5  Pre  28.591070

In [7]:
from scipy.stats import ttest_rel

b = df.query('test == "Pre"')['score']
a = df.query('test == "Post"')['score']

ttest_rel(a, b)

Ttest_relResult(statistic=115.43840005074162, pvalue=2.3495186777870983e-61)